.header-container{
    width: 100%;
    height: 60px;
    background-color: #CCC;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.header-button{

    height: 100%;
    background-color: #CCC;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font: 400 16px "Helvetica Neue",Helvetica,Arial;    
    &:hover{
        background-color: #AAA;
    }
    
}